[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"
djangorestframework = "*"
pymssql = "*"
pandas = "*"
openpyxl = "*"
pygsheets = "*"

[dev-packages]
pylint = "*"
pylint-django = "*"
autopep8 = "*"
safety = "*"
bandit = "*"
coverage = "*"
ipython = "*"

[requires]
python_version = "3.8"
