{% extends "cost_center/layout.html" %}

<!-- Vuetify Data-Table -->

{% block content %}
<v-row>
  <v-col>
    <v-text-field v-model="filter.id" label="Employee ID"></v-text-field>
  </v-col>
  <v-col>
    <v-text-field v-model="filter.name" label="Employee Name"></v-text-field>
  </v-col>
</v-row>

<v-data-table
  :headers="table.headers"
  :items="filteredItem"
  sort-by="employee_id"
>
  <template v-slot:top>
    <!-- TopBar -->
    <v-toolbar flat>
      <!-- TopBar title -->
      <v-toolbar-title>Cost Center</v-toolbar-title>
      <v-divider class="mx-4" inset vertical></v-divider>
      <v-spacer></v-spacer>

      <!-- Edit dialog -->
      <v-dialog v-model="dialogEdit" max-width="500px">
        <template v-slot:activator="{ on, attrs }">
          <v-btn color="blue darken-1" text @click="logout"> logout </v-btn>
          {{ user.username|title }}
        </template>
        <v-card>
          <v-card-title>
            <span class="text-h5"> Edit </span>
          </v-card-title>

          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="12" sm="6" md="6">
                  <v-text-field
                    v-model="selectedItem.employee_id"
                    label="Employee ID"
                    readonly
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="6" md="6">
                  <v-text-field
                    v-model="selectedItem.employee_name"
                    label="Employee Name"
                    readonly
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="6" md="6">
                  <v-text-field
                    v-model="selectedItem.department_id"
                    label="Department ID"
                    readonly
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="6" md="6">
                  <v-text-field
                    v-model="selectedItem.department_name"
                    label="Department Name"
                    readonly
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="12" md="12">
                  <v-combobox
                    v-model="selectedItem.centers"
                    label="Cost Centers"
                    multiple
                    small-chips
                  >
                    <template v-slot:item="{ index, item }">
                      <v-chip label small> {{ item.text }} </v-chip>
                      <v-spacer></v-spacer>
                    </template>
                  </v-combobox>
                </v-col>
              </v-row>
            </v-container>
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" text @click="cancel"> Cancel </v-btn>
            <v-btn color="blue darken-1" text @click="save"> Save </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-toolbar>
  </template>

  <template v-slot:item.actions="{ item }">
    <v-icon small @click="editItem(item)"> mdi-pencil </v-icon>
  </template>

  <template v-slot:no-data> Oops, Something Went Wrong... </template>
</v-data-table>

{% endblock content %}

<!-- Vue -->

{% block javascript %}
<script
  src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"
  integrity="sha256-qXBd/EfAdjOA2FGrGAG+b3YBn2tn5A6bhz+LSgYD96k="
  crossorigin="anonymous"
></script>

<script>
  function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== "") {
      const cookies = document.cookie.split(";");
      for (let i = 0; i < cookies.length; i++) {
        const cookie = cookies[i].trim();
        // Does this cookie string begin with the name we want?
        if (cookie.substring(0, name.length + 1) === name + "=") {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }

  new Vue({
    el: "#app",
    delimiters: ["[[", "]]"],
    vuetify: new Vuetify(),
    data: {
      table: {
        headers: [
          { text: "ID", value: "employee_id" },
          { text: "Name", value: "employee_name" },
          { text: "Dep. ID", value: "department_id" },
          { text: "Dep. Name", value: "department_name" },
          { text: "Center", value: "centers" },
          { text: "Actions", value: "actions", sortable: false },
        ],
        items: [],
      },
      filter: {
        id: "",
        name: "",
      },
      // dialogs
      dialogEdit: false,
      // default items
      defaultItem: {
        employee_id: null,
        employee_name: null,
        department_id: null,
        department_name: null,
        centers: [],
      },
      // selected item and index
      selectedItem: {
        employee_id: null,
        employee_name: null,
        department_id: null,
        department_name: null,
        centers: [],
      },
      nonce: 1,
      colors: ["green", "purple", "indigo", "cyan", "teal", "orange"],
    },
    watch: {
      dialogEdit(val) {
        if (!val) {
          this.initialize();
          this.$nextTick(() => {
            this.selectedItem = Object.assign({}, this.defaultItem);
          });
        }
      },
    },
    computed: {
      filteredItem() {
        let items = this.table.items;
        if (this.filter.id) {
          items = items.filter((item) => {
            return (
              _.endsWith(item.employee_id, this.filter.id) ||
              _.startsWith(item.employee_id, this.filter.id)
            );
          });
        }
        if (this.filter.name) {
          items = items.filter((item) => {
            return item.employee_name.includes(this.filter.name);
          });
        }
        return items;
      },
    },
    created() {
      this.initialize();
    },
    methods: {
      initialize() {
        fetch("http://localhost:8000/cost/employees")
          .then((response) => response.json())
          .then((json) => (this.table.items = json.employees));
      },
      editItem(item) {
        this.selectedItem = Object.assign({}, item);
        this.dialogEdit = true;
      },
      cancel() {
        this.dialogEdit = false;
      },
      save() {
        console.log("[save]", this.selectedItem);
        fetch(
          `http://localhost:8000/cost/update/${this.selectedItem.employee_id}`,
          {
            method: "POST",
            mode: "same-origin",
            headers: {
              "X-CSRFToken": getCookie("csrftoken"),
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ ...this.selectedItem }),
          }
        )
          .then((response) => {
            return response.json();
          })
          .then((json) => {
            this.dialogEdit = false;
          })
          .catch((err) => console.error(err));
      },
      logout() {
        window.location.href = "http://localhost:8000/logout/";
      },
    },
  });
</script>
{% endblock javascript %}
